<!-- index.html -->
<!doctype html>


<html ng-app="scotchPhaidracollection">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Phaidracollection App</title>

   
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #Phaidracollection-list              { margin-bottom:30px; }
    </style>

   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>

<body ng-controller="mainController">
    <div class="container">

       
        <div class="jumbotron text-center">
            <h1>Phaidra collection maker <span class="label label-info">{{ Phaidracollections.length }}</span></h1>
        </div>

        
        <div id="Phaidracollection-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

               
                <div class="checkbox" ng-repeat="Phaidracollection in Phaidracollections">
                    <label>
                        <input type="checkbox" ng-click="deletePhaidracollection(Phaidracollection._id)"> {{ Phaidracollection.text }}
                    </label>
                </div>

            </div>
        </div>

       
        <div id="Phaidracollection-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        
                        <input type="text" class="form-control input-lg text-center" placeholder="phaidra collection insert..." ng-model="formData.text">
                    </div>

                    
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createPhaidracollection()">Aggiungi dublin core</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>